


div.day-number	 { 
	
	position:absolute; 
	color:black;
	z-index:2; 
	top:-5px; 
	right:-2px; 
	padding:2px; 
	font-size:20px;
	width:2px; 
	text-align:center; 
}
td.calendar-day, td.calendar-day-np { /* dates info*/
	width:140px; 
	padding:25px 80px 30px 10px; 
	border:1px solid #000000 ; 
	background-color: #ffcc81;
	text-align:center; 
}

.button{
	
	margin-top:-70px;
}
.button1{
	
	margin-top:-40px;
	

	
	
}
.calendar-day-head{ /*days info*/
	
	
	width:140px;
	padding-top:20px;
	padding-bottom: 25px;
	font-size:20px;
	font-weight:bold;
	text-align:justify;
	border:1px solid #000000; 
	text-align:center;
	background-color: #ffb84e;	
	
}
.event{
	position:absolute;
	width: 130px;
	height:55px;
	background-color: #d80000 ;
	color:transparent;
	opacity:0.7;
	top:-5px;
	margin-left:-5px;
	margin-top:-15px;
	padding-bottom:300px;
	
}


.molink{/* month and year 's position*/
	position:absolute;
	top:40px;
	left:480px;
	font-size:30px;
	font-weight:bold;
	padding-bottom:50px;
	
	
}

.con1{/* drop down list position*/
	margin-top:30px;
	margin-left:25px;
	
}
.cont{/* next month .. previous month.. position */
	position:relative;
	left:42px;
	text-align:left; 
	
}




.control{ /*next month.. previous month..*/
	color:#3300cc;
	font-size:20px;
}
.form-control{
	
	color:#000000;
	margin-right:5px;
}
.form-inline{
	position:relative;
	
}

