div.day-number	 { 
	
	position:absolute; 
	color:black;
	z-index:2; 
	padding-top:10px 10px 10px 10px; 
	font-size:12px;
	width:20px; 
	height:10px;
	
}
td.calendar-day, td.calendar-day-np { /* dates info*/
	width:43px; 
	padding:10px 10px 10px 10px; 
	border:1px solid #000000 ; 
	
	
}
.calendar{ /* calendar position*/
	position:static;
	margin-left:25px;
	margin-top:-430px;

	
}
.calendar-row{

	
	
}
.calendar-day-head{ /*days info*/
	
	background-color: #FFCC66; 
	width:20px;
	padding-top:5px;
	padding-bottom: 15px;
	font-size:10px;
	font-weight:bold;
	text-align:justify;
	border:1px solid #000000; 
	text-align:center; 

}
.event{
	
	position:absolute;
	background-color: #d80000 ;
	margin-left:-8px;
	margin-top:-8px;
	padding-right: 13px;
	padding-bottom:8px;
	color:transparent;
	opacity:0.8;
	
}


.molink{/* month and year 's position*/
	position:absolute;
	top:548px;
	font-size:17px;
	padding-left:135px;
	
}

.con{/* drop down list position*/
	position:absolute;
	top:400px;
	left:55px;
	width:190px;
	padding:10px 10px 10px 10px;
	
	
}
.cont{/* next month .. previous month.. position */
	position:relative;
	top:30px;
	left:42px;
	text-align:left; 
	
}



.control{ /*next month.. previous month..*/
	color:#3300cc;
	font-size:13px;
}
.form-control{
	color:#3300cc;
}